Repository openmobilehub/react-native-omh-auth: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: bunx eslint {staged_files}
    types:
      glob: '*.{ts,tsx}'
      run: bunx tsc-files {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: bunx commitlint --edit

chore: add missing App.tsx file
  apps/sample-app/App.tsx
Due: lint, types

chore: move deps
  apps/sample-app/package.json
  bun.lockb
  package.json
Due: none

refactor: typecheck scripts
  lefthook.yml
  package.json
Due: none

ci: setup ci/cd
  .github/pull_request_template.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

chore: remove .vscode directory
  .gitignore
  .vscode/settings.json
Due: none

fix: rename bun typecheck script
  .github/workflows/ci.yml
Due: none

chore: change version to beta
  apps/sample-app/package.json
  packages/plugin-google/package.json
Due: none

chore: remove .vscode directory (#1)
  .github/workflows/ci.yml
  .gitignore
  .vscode/settings.json
  apps/sample-app/package.json
  packages/plugin-google/package.json
Due: none

chore: add --noEmit when running typecheck
  lefthook.yml
Due: none

refactor: rename package name
  packages/plugin-google/android/build.gradle
  packages/plugin-google/android/gradle.properties
  packages/plugin-google/android/src/main/AndroidManifest.xml
  packages/plugin-google/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/google/OmhGoogleModule.kt
  packages/plugin-google/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/google/OmhGooglePackage.kt
  packages/plugin-google/src/index.tsx
Due: lint, types

chore: add google gms and non-gms deps
  apps/sample-app/android/build.gradle
  packages/plugin-google/android/build.gradle
  packages/plugin-google/android/gradle.properties
Due: none

fix: meta-inf/dependencies bug
  apps/sample-app/android/app/build.gradle
Due: none

chore: add secrets gradle plugin
  packages/plugin-google/android/build.gradle
Due: none

refactor: simplify omh version naming
  packages/plugin-google/android/build.gradle
  packages/plugin-google/android/gradle.properties
Due: none

feat: implement `login` functionality
  apps/sample-app/App.tsx
  packages/plugin-google/android/gradle.properties
  packages/plugin-google/android/src/main/AndroidManifestNew.xml
  packages/plugin-google/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/google/OmhGoogleModule.kt
  packages/plugin-google/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/google/OmhGooglePackage.kt
  packages/plugin-google/src/index.tsx
Due: lint, types

refactor: extract Secrets Gradle Plugin version
  packages/plugin-google/android/build.gradle
  packages/plugin-google/android/gradle.properties
Due: none

refactor: rename login to signin
  apps/sample-app/App.tsx
  packages/plugin-google/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/google/OmhGoogleModule.kt
  packages/plugin-google/src/index.tsx
Due: lint, types

chore: configure `plugin-sort-imports`
  .prettierrc.js
  bun.lockb
  package.json
Due: lint

chore: configure `module-resolver`
  apps/sample-app/babel.config.js
  apps/sample-app/package.json
  apps/sample-app/tsconfig.json
Due: lint

feat: wrap OMH Google Plugin functionality
  packages/plugin-google/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/google/OmhGoogleModule.kt
  packages/plugin-google/src/index.tsx
Due: lint, types

chore: configure `react-navigation`
  apps/sample-app/android/app/src/main/java/com/sampleapp/MainActivity.kt
  apps/sample-app/package.json
Due: none

feat: add Home and SignedIn screens
  apps/sample-app/App.tsx
  apps/sample-app/__tests__/App.test.tsx
  apps/sample-app/index.js
  apps/sample-app/package.json
  apps/sample-app/src/app/SignedInProvider.tsx
  apps/sample-app/src/app/navigation.tsx
  apps/sample-app/src/screens/HomeScreen.tsx
  apps/sample-app/src/screens/SignedInScreen.tsx
  apps/sample-app/tsconfig.json
  tsconfig.json
Due: lint, types

Google plugin (#2)
  .prettierrc.js
  apps/sample-app/App.tsx
  apps/sample-app/__tests__/App.test.tsx
  apps/sample-app/android/app/build.gradle
  apps/sample-app/android/app/src/main/java/com/sampleapp/MainActivity.kt
  apps/sample-app/android/build.gradle
  apps/sample-app/babel.config.js
  apps/sample-app/index.js
  apps/sample-app/package.json
  apps/sample-app/src/app/SignedInProvider.tsx
  apps/sample-app/src/app/navigation.tsx
  apps/sample-app/src/screens/HomeScreen.tsx
  apps/sample-app/src/screens/SignedInScreen.tsx
  bun.lockb
  package.json
  packages/plugin-google/android/build.gradle
  packages/plugin-google/android/gradle.properties
  packages/plugin-google/android/src/main/AndroidManifest.xml
  packages/plugin-google/android/src/main/AndroidManifestNew.xml
  packages/plugin-google/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/google/OmhGoogleModule.kt
  packages/plugin-google/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/google/OmhGooglePackage.kt
  packages/plugin-google/android/src/main/java/com/rnomhauthplugingoogle/RnOmhAuthPluginGoogleModule.kt
  packages/plugin-google/android/src/main/java/com/rnomhauthplugingoogle/RnOmhAuthPluginGooglePackage.kt
  packages/plugin-google/src/index.tsx
  tsconfig.json
Due: lint, types

feat: capitalize first letter of provider name
  apps/sample-app/src/app/navigation.tsx
Due: lint, types

feat: display user data on the screen
  apps/sample-app/src/app/navigation.tsx
  apps/sample-app/src/screens/HomeScreen.tsx
  apps/sample-app/src/screens/SignedInScreen.tsx
  packages/plugin-google/src/index.tsx
Due: lint, types

Display user data on the screen (#3)
  apps/sample-app/src/app/navigation.tsx
  apps/sample-app/src/screens/HomeScreen.tsx
  apps/sample-app/src/screens/SignedInScreen.tsx
  packages/plugin-google/src/index.tsx
Due: lint, types

feat(core): facebook and core modules dump
  apps/sample-app/android/app/build.gradle
  apps/sample-app/android/app/src/main/AndroidManifest.xml
  apps/sample-app/android/build.gradle
  apps/sample-app/package.json
  apps/sample-app/src/screens/HomeScreen.tsx
  bun.lockb
  packages/plugin-facebook/android/build.gradle
  packages/plugin-facebook/android/gradle.properties
  packages/plugin-facebook/android/src/main/AndroidManifest.xml
  packages/plugin-facebook/android/src/main/AndroidManifestNew.xml
  packages/plugin-facebook/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/facebook/OmhAuthModule.kt
  packages/plugin-facebook/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/facebook/OmhFacebookModule.kt
  packages/plugin-facebook/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/facebook/OmhFacebookPackage.kt
  packages/plugin-facebook/package.json
  packages/plugin-facebook/src/index.tsx
Due: lint, types

refactor: rename android namespace
  apps/sample-app/android/app/build.gradle
  apps/sample-app/android/app/src/main/java/com/sampleapp/MainActivity.kt
  apps/sample-app/android/app/src/main/java/com/sampleapp/MainApplication.kt
Due: none

refactor: rename android app name
  apps/sample-app/android/app/src/main/java/com/sampleapp/MainActivity.kt
  apps/sample-app/android/app/src/main/res/values/strings.xml
  apps/sample-app/android/settings.gradle
  apps/sample-app/app.json
  apps/sample-app/package.json
Due: none

ci: add secrets to `local.properties`
  .github/workflows/cd.yml
Due: none

feat(core): core module
  apps/sample-app/android/settings.gradle
  apps/sample-app/src/app/SignedInProvider.tsx
  apps/sample-app/src/screens/HomeScreen.tsx
  apps/sample-app/src/screens/SignedInScreen.tsx
  bun.lockb
  packages/core/android/build.gradle
  packages/core/android/gradle.properties
  packages/core/android/native_modules.gradle
  packages/core/android/src/main/AndroidManifest.xml
  packages/core/android/src/main/AndroidManifestNew.xml
  packages/core/android/src/main/java/com/openmobilehub/reactnative/auth/core/OmhAuthModule.kt
  packages/core/package.json
  packages/core/src/index.tsx
  packages/plugin-facebook/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/facebook/OmhFacebookModule.kt
  packages/plugin-facebook/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/facebook/OmhFacebookPackage.kt
  packages/plugin-facebook/package.json
  packages/plugin-google/android/build.gradle
  packages/plugin-google/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/google/OmhGoogleModule.kt
  packages/plugin-google/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/google/OmhGooglePackage.kt
  packages/plugin-google/src/index.tsx
Due: lint, types

fix: fix naming
  packages/core/android/build.gradle
  packages/core/android/gradle.properties
  packages/plugin-facebook/android/build.gradle
  packages/plugin-facebook/android/gradle.properties
Due: none

fix: remove old stuff
  apps/sample-app/android/app/build.gradle
  packages/plugin-google/package.json
Due: none

feat(core): ts module provider
  apps/sample-app/src/app/SignedInProvider.tsx
  apps/sample-app/src/screens/HomeScreen.tsx
  apps/sample-app/src/screens/SignedInScreen.tsx
  packages/core/src/AuthModule.ts
  packages/core/src/index.tsx
  packages/core/src/types.ts
  packages/plugin-facebook/src/index.tsx
  packages/plugin-google/src/index.tsx
Due: lint, types

Rename app (#5)
  .github/workflows/cd.yml
  apps/sample-app/android/app/build.gradle
  apps/sample-app/android/app/src/main/java/com/sampleapp/MainActivity.kt
  apps/sample-app/android/app/src/main/java/com/sampleapp/MainApplication.kt
  apps/sample-app/android/app/src/main/res/values/strings.xml
  apps/sample-app/android/settings.gradle
  apps/sample-app/app.json
  apps/sample-app/package.json
Due: none

feat: include AndroidManifest.xml config in plugin
  apps/sample-app/android/app/build.gradle
  apps/sample-app/android/app/src/main/AndroidManifest.xml
  apps/sample-app/android/build.gradle
  packages/plugin-facebook/android/build.gradle
  packages/plugin-facebook/android/gradle.properties
  packages/plugin-facebook/android/src/main/AndroidManifestNew.xml
Due: none

chore: setup test
  .github/workflows/ci.yml
  apps/sample-app/__tests__/App.test.tsx
  apps/sample-app/jest.config.js
  apps/sample-app/setup-jest.ts
  jest.config.js
  package.json
  setup-jest.ts
Due: lint, types

chore: setup test (#6)
  .github/workflows/ci.yml
  apps/sample-app/__tests__/App.test.tsx
  apps/sample-app/jest.config.js
  apps/sample-app/setup-jest.ts
  jest.config.js
  package.json
  setup-jest.ts
Due: lint, types

ci: fix `local.properties` location
  .github/workflows/cd.yml
Due: none

feat: facebook cd
  .github/workflows/cd.yml
  bun.lockb
Due: none
