Repository openmobilehub/react-native-omh-auth: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: bunx eslint {staged_files}
    typecheck:
      glob: '*.{ts,tsx}'
      run: bunx tsc-files {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: bunx commitlint --edit

chore: remove the autogenerated `api` files
  docs/docs/api/_category_.yml
  docs/docs/api/classes/_category_.yml
  docs/docs/api/classes/core_src.AuthModule.md
  docs/docs/api/index.md
  docs/docs/api/modules.md
  docs/docs/api/modules/_category_.yml
  docs/docs/api/modules/core_src.md
  docs/docs/api/modules/plugin_dropbox_src.md
  docs/docs/api/modules/plugin_facebook_src.md
  docs/docs/api/modules/plugin_google_src.md
  docs/docs/api/modules/plugin_microsoft_src.md
Due: none

fix: msft error message
  apps/sample-app/android/app/build.gradle
  packages/core/android/build.gradle
  packages/core/android/gradle.properties
  packages/plugin-dropbox/android/build.gradle
  packages/plugin-dropbox/android/gradle.properties
  packages/plugin-facebook/android/build.gradle
  packages/plugin-facebook/android/gradle.properties
  packages/plugin-google/android/build.gradle
  packages/plugin-google/android/gradle.properties
  packages/plugin-microsoft/android/build.gradle
  packages/plugin-microsoft/android/gradle.properties
Due: none

fix: msft error message (#18)
  apps/sample-app/android/app/build.gradle
  packages/core/android/build.gradle
  packages/core/android/gradle.properties
  packages/plugin-dropbox/android/build.gradle
  packages/plugin-dropbox/android/gradle.properties
  packages/plugin-facebook/android/build.gradle
  packages/plugin-facebook/android/gradle.properties
  packages/plugin-google/android/build.gradle
  packages/plugin-google/android/gradle.properties
  packages/plugin-microsoft/android/build.gradle
  packages/plugin-microsoft/android/gradle.properties
Due: none

refactor: reorder providers
  apps/sample-app/src/app/SignedInProvider.tsx
Due: lint, typecheck

docs: improve documentation
  README.md
  docs/docs/getting-started.md
  packages/core/README.md
  packages/plugin-dropbox/README.md
  packages/plugin-facebook/README.md
  packages/plugin-google/README.md
  packages/plugin-microsoft/README.md
Due: none

docs: add documentation for docusaurus
  docs/docs/.gitignore
  docs/docs/core.mdx
  docs/docs/dropbox.mdx
  docs/docs/facebook.mdx
  docs/docs/google.mdx
  docs/docs/microsoft.mdx
  docs/docusaurus.config.ts
  docs/sidebars.ts
  docs/tsconfig.json
  packages/core/src/AuthModule.ts
  packages/core/src/index.tsx
  packages/plugin-dropbox/src/index.tsx
  packages/plugin-facebook/src/index.tsx
  packages/plugin-google/src/index.tsx
  packages/plugin-microsoft/src/index.tsx
Due: lint, typecheck

fix: make logout work after an error
  apps/sample-app/src/screens/SignedInScreen.tsx
Due: lint, typecheck

docs: mention limitations for google
  packages/plugin-google/README.md
Due: none

docs: mention limitations for microsoft
  packages/plugin-microsoft/README.md
Due: none

docs: improve description & add features section
  README.md
Due: none

Improve documentation (#17)
  LICENSE
  README.md
  apps/sample-app/android/app/build.gradle
  apps/sample-app/src/app/SignedInProvider.tsx
  docs/docs/.gitignore
  docs/docs/api/_category_.yml
  docs/docs/api/classes/_category_.yml
  docs/docs/api/classes/core_src.AuthModule.md
  docs/docs/api/index.md
  docs/docs/api/modules.md
  docs/docs/api/modules/_category_.yml
  docs/docs/api/modules/core_src.md
  docs/docs/api/modules/plugin_dropbox_src.md
  docs/docs/api/modules/plugin_facebook_src.md
  docs/docs/api/modules/plugin_google_src.md
  docs/docs/api/modules/plugin_microsoft_src.md
  docs/docs/core.mdx
  docs/docs/dropbox.mdx
  docs/docs/facebook.mdx
  docs/docs/getting-started.md
  docs/docs/google.mdx
  docs/docs/microsoft.mdx
  docs/docusaurus.config.ts
  docs/sidebars.ts
  docs/tsconfig.json
  packages/core/README.md
  packages/core/src/AuthModule.ts
  packages/core/src/index.tsx
  packages/plugin-dropbox/README.md
  packages/plugin-dropbox/src/index.tsx
  packages/plugin-facebook/README.md
  packages/plugin-facebook/src/index.tsx
  packages/plugin-google/README.md
  packages/plugin-google/src/index.tsx
  packages/plugin-microsoft/README.md
  packages/plugin-microsoft/src/index.tsx
Due: lint, typecheck

ci: fix docusaurus build
  .github/workflows/ci.yml
  README.md
  docs/docs/getting-started.md
Due: none

ci: fix docusaurus build (#20)
  .github/workflows/ci.yml
  README.md
  docs/docs/getting-started.md
Due: none

ci: deploy .ipa to appcenter
  .github/workflows/cd.yml
Due: none

chore: rename ios app
  apps/sample-app/android/app/src/main/java/com/openmobilehub/reactnative/auth/sample/MainActivity.kt
  apps/sample-app/android/settings.gradle
  apps/sample-app/app.json
  apps/sample-app/ios/Podfile
  apps/sample-app/ios/Podfile.lock
  apps/sample-app/ios/RNAuthSample.xcodeproj/project.pbxproj
  apps/sample-app/ios/RNAuthSample.xcodeproj/xcshareddata/xcschemes/RNAuthSample.xcscheme
  apps/sample-app/ios/RNAuthSample.xcworkspace/contents.xcworkspacedata
  apps/sample-app/ios/RNAuthSample.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  apps/sample-app/ios/RNAuthSample/AppDelegate.h
  apps/sample-app/ios/RNAuthSample/AppDelegate.mm
  apps/sample-app/ios/RNAuthSample/Images.xcassets/AppIcon.appiconset/Contents.json
  apps/sample-app/ios/RNAuthSample/Images.xcassets/Contents.json
  apps/sample-app/ios/RNAuthSample/Info.plist
  apps/sample-app/ios/RNAuthSample/LaunchScreen.storyboard
  apps/sample-app/ios/RNAuthSample/main.m
  apps/sample-app/ios/RNAuthSampleTests/Info.plist
  apps/sample-app/ios/RNAuthSampleTests/RNAuthSampleTests.m
Due: none

Setup ios (#21)
  .github/workflows/cd.yml
  apps/sample-app/android/app/src/main/java/com/openmobilehub/reactnative/auth/sample/MainActivity.kt
  apps/sample-app/android/settings.gradle
  apps/sample-app/app.json
  apps/sample-app/ios/Podfile
  apps/sample-app/ios/Podfile.lock
  apps/sample-app/ios/RNAuthSample.xcodeproj/project.pbxproj
  apps/sample-app/ios/RNAuthSample.xcodeproj/xcshareddata/xcschemes/RNAuthSample.xcscheme
  apps/sample-app/ios/RNAuthSample.xcworkspace/contents.xcworkspacedata
  apps/sample-app/ios/RNAuthSample.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  apps/sample-app/ios/RNAuthSample/AppDelegate.h
  apps/sample-app/ios/RNAuthSample/AppDelegate.mm
  apps/sample-app/ios/RNAuthSample/Images.xcassets/AppIcon.appiconset/Contents.json
  apps/sample-app/ios/RNAuthSample/Images.xcassets/Contents.json
  apps/sample-app/ios/RNAuthSample/Info.plist
  apps/sample-app/ios/RNAuthSample/LaunchScreen.storyboard
  apps/sample-app/ios/RNAuthSample/main.m
  apps/sample-app/ios/RNAuthSampleTests/Info.plist
  apps/sample-app/ios/RNAuthSampleTests/RNAuthSampleTests.m
Due: none

feat: ios core
  .github/workflows/cd.yml
  .gitignore
  apps/sample-app/babel.config.js
  apps/sample-app/ios/Podfile.lock
  apps/sample-app/ios/RNAuthSample/AppDelegate.h
  apps/sample-app/ios/RNAuthSample/AppDelegate.mm
  apps/sample-app/package.json
  apps/sample-app/src/app/SignedInProvider.tsx
  bun.lockb
  package.json
  packages/core/package.json
  packages/core/src/AndroidAuthModule.ts
  packages/core/src/IOSAuthModule.ts
  packages/core/src/authDataPersist.ts
  packages/core/src/createAuthModule.ts
  packages/core/src/index.tsx
  packages/core/src/types.ts
  packages/plugin-dropbox/src/index.tsx
  packages/plugin-facebook/src/index.tsx
  packages/plugin-google/src/getUser.ts
  packages/plugin-google/src/index.tsx
  packages/plugin-microsoft/src/index.tsx
Due: lint, typecheck

feat: add toast messages on ios
  apps/sample-app/package.json
  apps/sample-app/src/app/navigation.tsx
  apps/sample-app/src/screens/SignedInScreen.tsx
  bun.lockb
Due: lint, typecheck

fix: android build
  apps/sample-app/react-native.config.js
Due: lint

fix: remove unnecessary dep
  bun.lockb
  package.json
Due: none

feat: ios core (#22)
  .github/workflows/cd.yml
  .gitignore
  apps/sample-app/babel.config.js
  apps/sample-app/ios/Podfile.lock
  apps/sample-app/ios/RNAuthSample/AppDelegate.h
  apps/sample-app/ios/RNAuthSample/AppDelegate.mm
  apps/sample-app/package.json
  apps/sample-app/react-native.config.js
  apps/sample-app/src/app/SignedInProvider.tsx
  apps/sample-app/src/app/navigation.tsx
  apps/sample-app/src/screens/SignedInScreen.tsx
  bun.lockb
  packages/core/package.json
  packages/core/src/AndroidAuthModule.ts
  packages/core/src/IOSAuthModule.ts
  packages/core/src/authDataPersist.ts
  packages/core/src/createAuthModule.ts
  packages/core/src/index.tsx
  packages/core/src/types.ts
  packages/plugin-dropbox/src/index.tsx
  packages/plugin-facebook/src/index.tsx
  packages/plugin-google/src/getUser.ts
  packages/plugin-google/src/index.tsx
  packages/plugin-microsoft/src/index.tsx
Due: lint, typecheck

feat: configure dropbox provider
  apps/sample-app/package.json
  apps/sample-app/src/app/SignedInProvider.tsx
  bun.lockb
  packages/core/src/IOSAuthModule.ts
  packages/core/src/types.ts
  packages/plugin-dropbox/src/getUser.ts
  packages/plugin-dropbox/src/index.tsx
  packages/plugin-dropbox/src/refreshAccessToken.ts
  packages/plugin-dropbox/src/revokeAccessToken.ts
Due: lint, typecheck

fix: don't revoke token on signout
  packages/core/src/IOSAuthModule.ts
Due: lint, typecheck

ci: build iOS release version
  .github/workflows/cd.yml
  apps/sample-app/ios/Podfile.lock
  apps/sample-app/ios/RNAuthSample.xcodeproj/project.pbxproj
Due: none

refactor: code cleanup
  packages/core/src/IOSAuthModule.ts
  packages/core/src/authDataPersist.ts
  packages/core/src/types.ts
  packages/plugin-dropbox/src/IOSGetUser.ts
  packages/plugin-dropbox/src/IOSRefreshAccessToken.ts
  packages/plugin-dropbox/src/IOSRevokeAccessToken.ts
  packages/plugin-dropbox/src/index.tsx
  packages/plugin-facebook/src/index.tsx
  packages/plugin-google/src/IOSGetUser.ts
  packages/plugin-google/src/getUser.ts
  packages/plugin-google/src/index.tsx
  packages/plugin-microsoft/src/index.tsx
Due: lint, typecheck

chore: add JSDocs for iOS module
  packages/core/src/IOSAuthModule.ts
Due: lint, typecheck

chore: add copyright to android packages
  packages/core/android/src/main/AndroidManifestNew.xml
  packages/core/android/src/main/java/com/openmobilehub/reactnative/auth/core/OmhAuthModule.kt
  packages/core/android/src/main/java/com/openmobilehub/reactnative/auth/core/OmhLoginActivityListener.kt
  packages/plugin-dropbox/android/src/main/AndroidManifestNew.xml
  packages/plugin-dropbox/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/dropbox/OmhDropboxModule.kt
  packages/plugin-dropbox/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/dropbox/OmhDropboxPackage.kt
  packages/plugin-facebook/android/src/main/AndroidManifestNew.xml
  packages/plugin-facebook/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/facebook/OmhFacebookModule.kt
  packages/plugin-google/android/src/main/AndroidManifestNew.xml
  packages/plugin-google/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/google/OmhGoogleModule.kt
  packages/plugin-google/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/google/OmhGooglePackage.kt
  packages/plugin-microsoft/android/src/main/AndroidManifestNew.xml
  packages/plugin-microsoft/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/microsoft/OmhMicrosoftModule.kt
  packages/plugin-microsoft/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/microsoft/OmhMicrosoftPackage.kt
Due: none

iOS | Dropbox configuration (#23)
  .github/workflows/cd.yml
  apps/sample-app/ios/Podfile.lock
  apps/sample-app/ios/RNAuthSample.xcodeproj/project.pbxproj
  apps/sample-app/package.json
  apps/sample-app/src/app/SignedInProvider.tsx
  bun.lockb
  packages/core/android/src/main/AndroidManifestNew.xml
  packages/core/android/src/main/java/com/openmobilehub/reactnative/auth/core/OmhAuthModule.kt
  packages/core/android/src/main/java/com/openmobilehub/reactnative/auth/core/OmhLoginActivityListener.kt
  packages/core/src/IOSAuthModule.ts
  packages/core/src/authDataPersist.ts
  packages/core/src/types.ts
  packages/plugin-dropbox/android/src/main/AndroidManifestNew.xml
  packages/plugin-dropbox/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/dropbox/OmhDropboxModule.kt
  packages/plugin-dropbox/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/dropbox/OmhDropboxPackage.kt
  packages/plugin-dropbox/src/IOSGetUser.ts
  packages/plugin-dropbox/src/IOSRefreshAccessToken.ts
  packages/plugin-dropbox/src/IOSRevokeAccessToken.ts
  packages/plugin-dropbox/src/index.tsx
  packages/plugin-facebook/android/src/main/AndroidManifestNew.xml
  packages/plugin-facebook/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/facebook/OmhFacebookModule.kt
  packages/plugin-facebook/src/index.tsx
  packages/plugin-google/android/src/main/AndroidManifestNew.xml
  packages/plugin-google/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/google/OmhGoogleModule.kt
  packages/plugin-google/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/google/OmhGooglePackage.kt
  packages/plugin-google/src/IOSGetUser.ts
  packages/plugin-google/src/getUser.ts
  packages/plugin-google/src/index.tsx
  packages/plugin-microsoft/android/src/main/AndroidManifestNew.xml
  packages/plugin-microsoft/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/microsoft/OmhMicrosoftModule.kt
  packages/plugin-microsoft/android/src/main/java/com/openmobilehub/reactnative/auth/plugin/microsoft/OmhMicrosoftPackage.kt
  packages/plugin-microsoft/src/index.tsx
Due: lint, typecheck

feat: microsoft login on iOS
  apps/sample-app/ios/Podfile.lock
  apps/sample-app/src/app/SignedInProvider.tsx
  packages/core/src/IOSAuthModule.ts
  packages/plugin-microsoft/src/getUser.ts
  packages/plugin-microsoft/src/index.tsx
Due: lint, typecheck

fix: move secrets
  .github/workflows/cd.yml
  apps/sample-app/src/app/SignedInProvider.tsx
Due: lint, typecheck

fix: cd
  .github/workflows/cd.yml
Due: none

feat: microsoft login on iOS (#25)
  .github/workflows/cd.yml
  apps/sample-app/ios/Podfile.lock
  apps/sample-app/src/app/SignedInProvider.tsx
  packages/core/src/IOSAuthModule.ts
  packages/plugin-microsoft/src/getUser.ts
  packages/plugin-microsoft/src/index.tsx
Due: lint, typecheck

feat: api finalization
  apps/sample-app/src/app/SignedInProvider.tsx
  packages/core/src/AndroidAuthModule.ts
  packages/core/src/IOSAuthModule.ts
  packages/core/src/createAuthModule.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/plugin-dropbox/src/IOSGetUser.ts
  packages/plugin-dropbox/src/index.tsx
  packages/plugin-facebook/src/index.tsx
  packages/plugin-google/src/IOSGetUser.ts
  packages/plugin-google/src/index.tsx
  packages/plugin-microsoft/src/IOSGetUser.ts
  packages/plugin-microsoft/src/index.tsx
  packages/plugin-microsoft/src/types.ts
Due: lint, typecheck

fix: dependency in package.json
  apps/sample-app/package.json
  bun.lockb
  packages/plugin-dropbox/package.json
  packages/plugin-facebook/package.json
  packages/plugin-google/package.json
  packages/plugin-microsoft/package.json
Due: none

feat: api finalization (#29)
  apps/sample-app/package.json
  apps/sample-app/src/app/SignedInProvider.tsx
  bun.lockb
  packages/core/src/AndroidAuthModule.ts
  packages/core/src/IOSAuthModule.ts
  packages/core/src/createAuthModule.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/plugin-dropbox/package.json
  packages/plugin-dropbox/src/IOSGetUser.ts
  packages/plugin-dropbox/src/index.tsx
  packages/plugin-facebook/package.json
  packages/plugin-facebook/src/index.tsx
  packages/plugin-google/package.json
  packages/plugin-google/src/IOSGetUser.ts
  packages/plugin-google/src/index.tsx
  packages/plugin-microsoft/package.json
  packages/plugin-microsoft/src/IOSGetUser.ts
  packages/plugin-microsoft/src/index.tsx
  packages/plugin-microsoft/src/types.ts
Due: lint, typecheck

refactor: fix types and clean code
  apps/sample-app/ios/Podfile.lock
  packages/plugin-dropbox/src/IOSGetUser.ts
  packages/plugin-google/src/IOSGetUser.ts
  packages/plugin-google/src/index.tsx
Due: lint, typecheck

feat: facebook authentification
  packages/plugin-facebook/src/IOSGetUser.ts
  packages/plugin-facebook/src/IOSRefreshAccessToken.ts
  packages/plugin-facebook/src/IOSRevokeAccessToken.ts
  packages/plugin-facebook/src/index.tsx
Due: lint, typecheck

fix: trim long access token
  apps/sample-app/src/screens/SignedInScreen.tsx
Due: lint, typecheck

fix: add redaxios to sample app
  apps/sample-app/package.json
  bun.lockb
Due: none

fix: throw errors
  packages/plugin-dropbox/src/IOSRefreshAccessToken.ts
  packages/plugin-dropbox/src/IOSRevokeAccessToken.ts
  packages/plugin-facebook/src/IOSGetUser.ts
  packages/plugin-facebook/src/IOSRefreshAccessToken.ts
  packages/plugin-facebook/src/IOSRevokeAccessToken.ts
  packages/plugin-microsoft/src/index.tsx
Due: lint, typecheck
